<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Rblog</a>

 <div v-if="!token" class="  navbar-collapse"  >
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <nuxt-link class="nav-link" to="/register">Register  </nuxt-link>

        </li>
        <li class="nav-item">
          <nuxt-link class="nav-link" to="/login">Login  </nuxt-link>
        </li>

      </ul>
    </div>
    <div v-if="!!token" class="  navbar-collapse"  >
      <ul class="navbar-nav ">

          <li class="nav-item active">
            <nuxt-link class="nav-link" to="/feed">Feed  </nuxt-link>
          </li>
          <li class="nav-item">
            <nuxt-link class="nav-link" to="/userList">Users  </nuxt-link>
          </li>
        <li class="nav-item">
          <nuxt-link class="nav-link" to="/newpost">Post  </nuxt-link>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>


      </ul>
    </div>
  </nav>
</template>
<script>
  import { mapState } from 'vuex'

  export default {


    computed:  mapState(['token']),

    methods: {

    }
  }
</script>
