<template>
  <div>
  <h1>{{title}}</h1>
  <p>{{text}}</p>
  <div>
    <span class="badge">Posted at: {{createdDate}}</span>
    <span class="badge">Author: <User v-model="userId"></User> </span>
    <span class="badge">Views: {{viewCount}}</span>
    <div class="pull-right">
      <span class="label label-default" v-for="(tag,index) in tags"  v-bind:key="index"><a>{{tags[index]}}</a></span>

  </div>
  </div>
  <hr>
  </div>
</template>
<script>
  import  User from "../components/User"

  export default {
    components:{
      User:User
    },
    props: ['value'],
    data(){
      return this.value;
    },


    methods: {}
  };
</script>
