<template>
  <div>
   <a>{{value}}{{isFollowingMe?"(follows you)":""}}</a>
    <div  v-if="!amIfollowing">
    <button @click="followUser(false)" >follow</button>
    </div>
    <div  v-if="amIfollowing">
      <button @click="followUser(true)" >unfollow</button>
    </div>
  </div>
</template>
<script>

  export default {

    props: ['value'],
    // data(){
    //   return {value:this.value};
    // },
    computed:{
      isFollowingMe(){
        return    this.$store.getters.isFollowingMe(this.value)
      },
      amIfollowing(){
        return    this.$store.getters.amIfollowing(this.value)
      },

    },
    methods: {
      followUser(isdelete){

        return    fetch(window.rootUrl + "/member/follow/"+this.value, {
          method:(!isdelete ?  "POST":"DELETE"),
          headers: {
            'Content-Type': 'application/json',
            'token':this.$store.state.token
          }

        })
          .then(response => response.json())
          .then((response) => {
            if(response.success){
              this.$store.dispatch('getFollowings')
            }
          })
          .catch(e=>{

          })
      }
    }
  };
</script>
