<template>
  <div class="container">
    <div class="col-md-12">
<div v-for="(item,index) in feed"   v-bind:key="item.id">
 <post  v-model="feed[index]"  />
    </div>
    </div></div>
</template>
<script>
  import Post from '../components/Post'
  import { mapState } from 'vuex'
  export default {
    middleware: 'auth',
    components: {
      'Post' : Post,
    },
    computed:  {
      ...mapState(["feed"])

    },
    // data(){
    //   return {
    //     feed:this.$state.feed
    //   }
    // },
    fetch({store}){
      store.dispatch("getFeed");
      return {feed:store.state.feed}
    },
    methods:{

    }
  }
</script>
