<template>
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-md-offset-2">

        <h1>Create post</h1>
          <div class="form-group has-error">
            <label for="tags">Tags <span class="require"> </span>  </label>
            <input type="text" class="form-control" name="tags" v-model="tags" />
          </div>
          <div class="form-group">
            <label for="title">Title <span class="require">*</span></label>
            <input type="text" class="form-control" name="title"  v-model="title" />
          </div>
          <div class="form-group">
            <label for="description">Text</label>
            <textarea rows="5" class="form-control" name="description"  v-model="text"></textarea>
          </div>
          <div class="form-group">
            <button   class="btn btn-primary" @click="createPost">
              Create
            </button>
          </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {

    data: () => {
      return {
        tags: "",
        title: "",
        text:""
      }
    },

    methods: {
      createPost() {
        
        return    fetch(window.rootUrl + "/post/", {
          method:(  "POST"),
          headers: {
            'Content-Type': 'application/json',
            'token':this.$store.state.token

          },
          body: JSON.stringify({title:this.title,tags: this.tags.split(" "),text:this.text})

        })
          .then(response => response.json())
          .then((response) => {
            if(response.success){
              this.$store.commit("setAlert", {message:"basarılı",type:"success"});
              this.$router.push('/feed')
            }
            else {
              this.$store.commit("setAlert", {message:response,type:"warning"})
            }
          })

      }
    }
  };
</script>
<style>
  .require {
    color: #666;
  }
  label small {
    color: #999;
    font-weight: normal;
  }
</style>
