<template>
  <div class="container">
    <div class="col-md-12">
      <div v-for="(item,index) in users"   v-bind:key="item.id">
        <User  v-model="users[index].userId"  />
      </div>
    </div></div>
</template>
<script>
  import User from '../components/User'
  import { mapState } from 'vuex'
  export default {
    middleware: 'auth',
    components: {
      'User' : User,
    },
    computed:  {
      ...mapState(["users"])

    },

    fetch({store}){
      store.dispatch("getAllUsers");
      return {users:store.state.users}
    },
    methods:{

    }
  }
</script>
